.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-profile {
  height: 30vmin;
  pointer-events: none;

}

.App-card {
  pointer-events: all;
  min-height: 18rem;
  max-height: 18rem;
  max-width: 20rem;;
  padding: 20px;
}

.App-card-image {
  pointer-events: all;
  min-height: 12rem;
  max-height: 12rem;
}

.App-card-header {
  padding: 50px;
  text-align: center;
  color: black;
  font-size: 60px;
}


.App-linkedIn {
  height: 10vmin;
  pointer-events: none

}

.App-aws {
  width: 18rem;
  pointer-events: all;

}

.App-header {
  background-color: #681212de;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #681212de;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  pointer-events: all;
  cursor: pointer;
}

.App-about {
  text-align: center;
  padding: 20px;
}

.App-icons {
  display: flex;
  text-align: center;
  padding: 20px;
}

#about {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 40px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
